---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="hidden main:block w-full h-full overflow-y-hidden overflow-x-auto bg-blue"
  >
  </main>
  <div class="w-full h-full flex main:hidden justify-center items-center">
    <span class="text-blue"
      >Your screen needs to be 1000px wide and 500px high.</span
    >
  </div>
</Layout>
