---

---

<div>
  <div
    id="title-card"
    class="visible-page-width h-full flex flex-col items-center"
  >
    <div
      class="parallax-plane-1 title-card-half flex flex-col justify-center items-center"
    >
      <p class="text-white">
        Hi! Welcome to our project microsite. On this website you will discover
        what a group of Deviners did when asked to come up with a Smart City
        Solution. What product(s) they came up with, where they struggled, how
        they worked together and if they succeeded.
      </p>
      <p class="text-white font-system-black text-xl">Have fun!</p>
    </div>
    <div class="h-[30px]"></div>
    <div
      class="parallax-plane-1 title-card-half flex flex-col justify-center items-center"
    >
      <h4 class="mb-4">Some Guidelines</h4>
      <ul class="guidelines-list flex flex-col gap-40">
        <li>
          <span
            >The website is interactive, so whenever you see this symbol, you
            can hover or click to find out more information.</span
          >
        </li>
        <li>
          <span
            >This is called a Conclusion Box. Whatever is written in there is a
            conclusion we drew and took with us throughout the rest of the
            project. At the end of the timeline, you will find a collection of
            all the Conclusion Boxes spread across the website.</span
          >
        </li>
      </ul>
    </div>
  </div>
  <style>
    .title-card-half {
      height: calc(50% - 15px);
    }

    .guidelines-list {
      li {
        @apply flex flex-row gap-[20px];
      }
    }
  </style>
</div>
