---

---

<div
  id="intro"
  class="chapter visible-page-width-disabled h-full flex flex-col items-center"
>
  <div
    class="title-card-half flex flex-col justify-center items-center text-white"
  >
    <p>
      Hi! Welcome to our project microsite. On this website you will discover
      what a group of Deviners did when asked to come up with the following:
    </p>
    <p
      class=`parallax-plane-1-intro text-center font-io-bold italic text-xl text-orange`
    >
      "Come up with a Smart City Solution that provides answers or solutions to
      a real urban need."
    </p>
    <p>
      Wondering what product(s) they came up with, where they struggled, how
      they worked together and if they succeeded? <b
        >You're at the right place!</b
      >
    </p>
    <p class="text-white font-system-black text-xl">Have fun!</p>
  </div>
  <div class="h-[30px]"></div>
  <div class="title-card-half flex flex-col justify-center items-center">
    <h4 class="mb-40">Some Guidelines</h4>
    <ul class="guidelines-list flex flex-col gap-40">
      <li>
        <span
          >The website is interactive, so whenever you see this symbol, you can
          hover or click to find out more information.</span
        >
        <img src="./interaction.svg" />
      </li>
      <li>
        <span
          >This is called a Conclusion Box. Whatever is written in there is a
          conclusion we drew and took with us throughout the rest of the
          project.</span
        >
        <img src="./conclusionBox.svg" />
      </li>
    </ul>
  </div>

  <style>
    #intro {
      @apply min-w-[1500px];
    }

    .title-card-half {
      height: calc(50% - 15px);
    }

    .guidelines-list {
      li {
        @apply flex flex-row items-center gap-[20px];
      }
    }
  </style>
</div>
