---

---

<div
  id="title-card"
  class="chapter visible-page-width h-full flex flex-col items-center"
>
  <div
    class=`parallax-plane-1-title-card title-card-half flex flex-col justify-center items-center`
  >
    <h1 class="font-io-semibold text-white text-7xl">SMART CITIES:</h1>
  </div>
  <div class="h-[30px] flex flex-col justify-center text-center">
    <h2 class="font-io-semibold text-orange text-[30px]">
      UX research, prototyping an testing
    </h2>
  </div>
  <div
    class=`parallax-plane-1-title-card title-card-half font-semibold flex flex-col justify-center items-center`
  >
    <h2 class="font-io-semibold text-grey text-4xl">
      By Elie, Marats, Ella & Adam
    </h2>
  </div>
</div>
<style>
  .title-card-half {
    height: calc(50% - 15px);
  }
</style>
