---
import ChapterHead from "../ChapterHead.astro";
---

<div id="alphabet" class="chapter h-full visible-page-width-disabled relative">
  <div class="absolute top-80 left-0">
    <span class="text-[100px] font-io-bold text-blue bg-orange">IDEATE.</span>
  </div>
  <ChapterHead title="Diverging: Alphabet" bottom={true} height={70} />
  <div class="alphabet-all-letters relative">
    <div class="alphabet-letter">
      <span>A</span>
      <span
        >accelerometer that you can wear: inspired by safety helmets that
        self-inflate when you’re falling from bike</span
      >
    </div>
    <div class="alphabet-letter">
      <span>B</span>
      <span
        >bridge: find the gap between lonely people and the community and bridge
        it (maybe its the lack of common interests or logistics issue etc)</span
      >
    </div>
    <div class="alphabet-letter">
      <span>C</span>
      <span
        >care: somebody needs to care about elderly people but maybe they also
        can care about something or someone? starting from each other to some
        home plant that might indicate that something is wrong when its
        neglected (mines would send such signals right away though)</span
      >
    </div>
    <div class="alphabet-letter">
      <span>D</span>
      <span
        >drills: drills in case of emergencies that can bring everyone together</span
      >
    </div>
    <div class="alphabet-letter">
      <span>E</span>
      <span
        >efficiency: the app can calculate the most efficient ways to bring help
        even if its from neighbours that are not active participants.</span
      >
    </div>
    <div class="alphabet-letter">
      <span>F</span>
      <span
        >fire: people who live alone have to “keep fire on” in some screen or AI
        helper or whatever. their relatives have apps with their fire that maybe
        consists of their health data or some entries that their grannies did,
        so they see if the fire is small, they need to be visited</span
      >
    </div>
    <div class="alphabet-letter">
      <span>G</span>
      <span
        >grandparents: not every elderly person has a family so we shouldn’t
        concentrate on families too much, after families come friends and
        neighbours? social workers?</span
      >
    </div>
    <div class="alphabet-letter">
      <span>H</span>
      <span
        >heart: scheduling system for neighbours/social workers who’s the
        heartkeeper for this week or some days? they get some special device or
        reminder from app and they follow actively during their watch. then the
        “heart” is passed over to the next “shift”. Heart can include health
        data and some entries from TA. in case of emergency, heart activates and
        sends signals to the heartkeeper.</span
      >
    </div>
    <div class="alphabet-letter">
      <span>I</span>
      <span
        >inside: sensors to be installed inside of the TA apartments to detect
        their movements in a non-intrusive way</span
      >
    </div>
    <div class="alphabet-letter">
      <span>J</span>
      <span
        >judging: check from time to time on TA’s ability to recognise and
        detect emergency situations, how would they evaluate their abilities to
        react?</span
      >
    </div>
    <div class="alphabet-letter">
      <span>K</span>
      <span
        >key: electronic key from the door that changes every given period of
        time and gives access to the TA’s apartment to those whom needed
        (normally family, but in emergencies to doctors etc) inspired by
        interview with TA</span
      >
    </div>
    <div class="alphabet-letter">
      <span>L</span>
      <span
        >light: lamp or sensors that can read the amount of light in different
        rooms. It might help with seasonal depression and provide less intrusive
        information about which rooms become less used or not used at all</span
      >
    </div>
    <div class="alphabet-letter">
      <span>M</span>
      <span
        >meals that neighbourhood shares with each other with our TA at the
        center: maybe they have to cook smth</span
      >
    </div>
    <div class="alphabet-letter">
      <span>N</span>
      <span
        >necklace that can understand the position and heartbeat of its owner</span
      >
    </div>
    <div class="alphabet-letter">
      <span>O</span>
      <span
        >open-air: smart open-air platforms in neighbourhood that translate the
        number of people and chances of rain to the TA’s tvs for example, and
        proposes schedule for events to bring people together</span
      >
    </div>
    <div class="alphabet-letter">
      <span>P</span>
      <span
        >pedestrians: our TA are mostly pedestrians, what if the neighbourhood
        has something for them during their daily walks? special safe routes?
        special buttons which only TA knows to connect to the neighbourhood and
        maybe invite them to walk together?</span
      >
    </div>
    <div class="alphabet-letter">
      <span>Q</span>
      <span
        >questions: app, smartdevice that asks questions from time to time to
        check up on TA, it might be “how are you doing?” but also might be “why
        is the sky blue?” to check up on mental health of people</span
      >
    </div>
    <div class="alphabet-letter">
      <span>R</span>
      <span
        >routine and repetition: learn the TA habits and look for any
        deviations. encourage them into some new routine too</span
      >
    </div>
    <div class="alphabet-letter">
      <span>S</span>
      <span
        >soundscape: a device that understands the soundscape of TA’s apartment
        and can signalise if something has changed (prolonged silence, sound of
        body falling on the floor, maybe some extra noise, maybe hard breathing,
        more or less talking out loud etc). It also can be used as a soundsystem
        for TV maybe?</span
      >
    </div>
    <div class="alphabet-letter">
      <span>T</span>
      <span
        >TV: the connection to caregivers and neighbourhood is realised via TV.
        maybe it’s a part of a smart tv device that can broadcast interactive
        things or talks, and you can participate. Like streamers but for boomers</span
      >
    </div>
    <div class="alphabet-letter">
      <span>U</span>
      <span
        >uber: connection to delivery and taxi platforms to maybe deliver a dish
        from your favourite restaurant to some local elderly person you don’t
        know, or maybe uber helps deliver TA’s homemade cookies to dome
        neighbours for free</span
      >
    </div>
    <div class="alphabet-letter">
      <span>V</span>
      <span
        >vital: vital health data is being re-translated into something else not
        to violate privacy, and share this image with neighbours or not-so close
        family (inspired by Sims green diamond)</span
      >
    </div>
    <div class="alphabet-letter">
      <span>W</span>
      <span
        >window: since Adam wants to signalise smth from windows: the
        installation of lights into the window frame, that can light up windows
        into red light in case of emergency</span
      >
    </div>

    <div class="alphabet-letter">
      <span>X</span>
      <span
        >xerox: smart device that scans the room to understand what’s going on
        inside</span
      >
    </div>
    <div class="alphabet-letter">
      <span>Y</span>
      <span
        >y2k: some simple pixel game style device that is installed in the
        apartment of TA and their caregivers. It sends data to each other and
        also can read if you put hand on it and send the handprint to your loved
        ones. You also can send a message or put some physical object on it.
        It’s supposed to bring the digital connection into physical world.</span
      >
    </div>
    <div class="alphabet-letter">
      <span>Z</span>
      <span
        >zooming in: an app for the neighbourhood which tells you to “zoom in”
        on some local problems or people. It’s made for people who fell that
        they want to help but are not sure how. The feed is curated by social
        workers</span
      >
    </div>
  </div>

  <style>
    #alphabet {
      @apply min-w-[5000px];
    }

    .alphabet-letter {
      @apply flex flex-col justify-center items-center left-[500px] opacity-0;
      @apply absolute top-20;

      &:nth-child(3n) {
        span:first-child {
          @apply text-green;
        }
      }

      &:nth-child(3n + 1) {
        span:first-child {
          @apply text-grey;
        }
      }

      span:first-child {
        @apply text-orange;
        @apply font-io-bold text-[700px];
        @apply -mb-[200px] -mt-[280px];
      }
    }
  </style>
</div>
