---
import ChapterHead from "../ChapterHead.astro";
---

<div id="alphabet" class="chapter h-full visible-page-width-disabled relative">
  <ChapterHead title="Diverging: Alphabet" bottom={true} height={70} />
  <div class="flex flex-row h-full gap-80 left-[500px] relative">
    <div class="h-full flex flex-col justify-center gap-80">
      <div class="h-2/5 flex flex-col justify-end text-white w-[700px]">
        <div>
          <span>A</span> –– accelerometer that you can wear: inspired by safety helmets
          that self-inflate when you’re falling from bike
        </div>
        <div>
          <span>B</span> –– bridge: find the gap between lonely people and the community
          and bridge it (maybe its the lack of common interests or logistics issue
          etc)
        </div>
        <div>
          <span>C</span> –– care: somebody needs to care about elderly people but
          maybe they also can care about something or someone? starting from each
          other to some home plant that might indicate that something is wrong when
          its neglected (mines would send such signals right away though)
        </div>
        <div>
          <span>D</span> –– drills: drills in case of emergencies that can bring
          everyone together
        </div>
        <div>
          <span>E</span> –– efficiency: the app can calculate the most efficient
          ways to bring help even if its from neighbours that are not active participants.
        </div>
        <div>
          <span>F</span> –– fire: people who live alone have to “keep fire on” in
          some screen or AI helper or whatever. their relatives have apps with their
          fire that maybe consists of their health data or some entries that their
          grannies did, so they see if the fire is small, they need to be visited
        </div>
      </div>
      <div class="h-2/5 flex flex-col justify-start w-[900px]">
        <div>
          <span>G</span> –– grandparents: not every elderly person has a family so
          we shouldn’t concentrate on families too much, after families come friends
          and neighbours? social workers?
        </div>
        <div>
          <span>H</span> –– heart: scheduling system for neighbours/social workers
          who’s the heartkeeper for this week or some days? they get some special
          device or reminder from app and they follow actively during their watch.
          then the “heart” is passed over to the next “shift”. Heart can include
          health data and some entries from TA. in case of emergency, heart activates
          and sends signals to the heartkeeper.
        </div>
        <div>
          <span>I</span> –– inside: sensors to be installed inside of the TA apartments
          to detect their movements in a non-intrusive way
        </div>
        <div>
          <span>J</span> –– judging: check from time to time on TA’s ability to recognise
          and detect emergency situations, how would they evaluate their abilities
          to react?
        </div>
        <div>
          <span>K</span> –– key: electronic key from the door that changes every
          given period of time and gives access to the TA’s apartment to those whom
          needed (normally family, but in emergencies to doctors etc) –– inspired
          by interview with TA
        </div>
        <div>
          <span>L</span> –– light: lamp or sensors that can read the amount of light
          in different rooms. It might help with seasonal depression and provide
          less intrusive information about which rooms become less used or not used
          at all
        </div>
        <div>
          <span>M</span> –– meals that neighbourhood shares with each other with
          our TA at the center: maybe they have to cook smth
        </div>
      </div>
    </div>

    <div class="h-full flex flex-col justify-center gap-80">
      <div class="h-2/5 flex flex-col justify-end text-white w-[800px]">
        <div>
          <span>N</span> –– necklace that can understand the position and heartbeat
          of its owner
        </div>
        <div>
          <span>O</span> –– open-air: smart open-air platforms in neighbourhood that
          translate the number of people and chances of rain to the TA’s tvs for
          example, and proposes schedule for events to bring people together
        </div>
        <div>
          <span>P</span> –– pedestrians: our TA are mostly pedestrians, what if the
          neighbourhood has something for them during their daily walks? special
          safe routes? special buttons which only TA knows to connect to the neighbourhood
          and maybe invite them to walk together?
        </div>
        <div>
          <span>R</span> –– routine and repetition: learn the TA habits and look
          for any deviations. encourage them into some new routine too
        </div>
        <div>
          <span>S</span> –– soundscape: a device that understands the soundscape
          of TA’s apartment and can signalise if something has changed (prolonged
          silence, sound of body falling on the floor, maybe some extra noise, maybe
          hard breathing, more or less talking out loud etc). It also can be used
          as a soundsystem for TV maybe?
        </div>
        <div>
          <span>T</span> –– TV: the connection to caregivers and neighbourhood is
          realised via TV. maybe it’s a part of a smart tv device that can broadcast
          interactive things or talks, and you can participate. Like streamers but
          for boomers
        </div>
      </div>
      <div class="h-2/5 flex flex-col justify-start text-grey w-[900px]">
        <div>
          <span>U</span> –– uber: connection to delivery and taxi platforms to maybe
          deliver a dish from your favourite restaurant to some local elderly person
          you don’t know, or maybe uber helps deliver TA’s homemade cookies to dome
          neighbours for free
        </div>
        <div>
          <span>V</span> –– vital: vital health data is being re-translated into
          something else not to violate privacy, and share this image with neighbours
          or not-so close family (inspired by Sims green diamond)
        </div>
        <div>
          <span>W</span> –– window: since Adam wants to signalise smth from windows:
          the installation of lights into the window frame, that can light up windows
          into red light in case of emergency
        </div>
        <div>
          <span>Q</span> –– questions: app, smartdevice that asks questions from
          time to time to check up on TA, it might be “how are you doing?” but also
          might be “why is the sky blue?” to check up on mental health of people
        </div>
        <div>
          <span>X</span> –– xerox: smart device that scans the room to understand
          what’s going on inside
        </div>
        <div>
          <span>Y</span> –– y2k: some simple pixel game style device that is installed
          in the apartment of TA and their caregivers. It sends data to each other
          and also can read if you put hand on it and send the handprint to your
          loved ones. You also can send a message or put some physical object on
          it. It’s supposed to bring the digital connection into physical world.
        </div>
        <div>
          <span>Z</span> –– zooming in: an app for the neighbourhood which tells
          you to “zoom in” on some local problems or people. It’s made for people
          who fell that they want to help but are not sure how. The feed is curated
          by social workers
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #alphabet {
    @apply min-w-[2000px];
  }
</style>
