---
import ChapterHead from "../ChapterHead.astro";
import ConclusionBox from "../ConclusionBox.astro";
---

<div
  id="competitor-analysis"
  class="chapter h-full visible-page-width-disabled relative"
>
  <img class="absolute z-40 bottom-20 right-[900px]" src="./interaction.svg" />
  <ChapterHead title="Competitors Analysis" bottom={false} height={200}>
    As a part of our primary research, we did a competitors analysis to see
    what’s out there</ChapterHead
  >

  <div
    class="parallax-plane-1-competitor-analysis ca-table grid grid-cols-11 max-h-full bg-white relative left-[400px] max-w-[2000px]"
  >
    <div class="bg-orange text-blue font-io-bold">NAME</div>
    <div
      class="nextdoor bg-green text-blue font-io-regular border-b-8 border-solid border-blue"
    >
      Nextdoor
    </div>
    <div
      class="ioby bg-green text-blue font-io-regular border-b-8 border-solid border-blue"
    >
      Ioby
    </div>
    <div
      class="everyblock bg-green text-blue font-io-regular border-b-8 border-solid border-blue"
    >
      EveryBlock
    </div>
    <div
      class="lotsa bg-green text-blue font-io-regular border-b-8 border-solid border-blue"
    >
      Lotsa Helping Hands
    </div>
    <div
      class="olio bg-green text-blue font-io-regular border-b-8 border-solid border-blue"
    >
      Olio
    </div>
    <div
      class="patch bg-green text-blue font-io-regular border-b-8 border-solid border-blue"
    >
      Patch
    </div>
    <div
      class="ca-ring bg-green text-blue font-io-regular border-b-8 border-solid border-blue"
    >
      Ring
    </div>
    <div
      class="hoplr bg-green text-blue font-io-regular border-b-8 border-solid border-blue"
    >
      Hoplr
    </div>
    <div
      class="mindmyhouse bg-green text-blue font-io-regular border-b-8 border-solid border-blue"
    >
      MindMyHouse
    </div>
    <div
      class="peanut bg-green text-blue font-io-regular border-b-8 border-solid border-blue"
    >
      Peanut
    </div>

    <div class="bg-orange text-blue font-io-bold">Link</div>
    <div
      class="nextdoor border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      <a href="https://nextdoor.com">nextdoor.com</a>
    </div>
    <div class="ioby border-r-[1px] border-b-[1px] border-solid border-blue">
      <a href="https://ioby.org">ioby.org</a>
    </div>
    <div
      class="everyblock border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      ACQUIRED BY NEXTDOOR
    </div>
    <div class="lotsa border-r-[1px] border-b-[1px] border-solid border-blue">
      <a href="https://lotsahelpinghands.com/">lotsahelpinghands.com</a>
    </div>
    <div class="olio border-r-[1px] border-b-[1px] border-solid border-blue">
      <a href="https://olioapp.com/en/">olioapp.com/en</a>
    </div>
    <div class="patch border-r-[1px] border-b-[1px] border-solid border-blue">
      <a href="https://patch.com">patch.com</a>
    </div>
    <div class="ca-ring border-r-[1px] border-b-[1px] border-solid border-blue">
      <a href="https://ring.com">ring.com</a>
    </div>
    <div class="hoplr border-r-[1px] border-b-[1px] border-solid border-blue">
      <a href="https://www.hoplr.com">hoplr.com</a>
    </div>
    <div
      class="mindmyhouse border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      <a href="https://www.mindmyhouse.com/about/about_us">mindmyhouse.com</a>
    </div>
    <div class="peanut border-r-[1px] border-b-[1px] border-solid border-blue">
      <a href="https://www.peanut-app.io/posts">peanut-app.io/posts</a>
    </div>
    <div class="bg-orange text-blue font-io-bold">Features</div>
    <div
      class="nextdoor border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      Social Networking
    </div>
    <div class="ioby border-r-[1px] border-b-[1px] border-solid border-blue">
      Crowdfunding, NCO
    </div>
    <div
      class="everyblock border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      It was social networking but more geotags, what’s happening around like
      road works or a new restaurant – aggregator of everything
    </div>
    <div class="lotsa border-r-[1px] border-b-[1px] border-solid border-blue">
      Providing connection between caregivers & volunteers and families in need
      (help with a meal, ride, babysitting etc)
    </div>
    <div class="olio border-r-[1px] border-b-[1px] border-solid border-blue">
      connects people with food: Beat waste with Olio! You can give away
      something you don’t need for free --> working now on selling option
    </div>
    <div class="patch border-r-[1px] border-b-[1px] border-solid border-blue">
      Hyperlocal news
    </div>
    <div class="ca-ring border-r-[1px] border-b-[1px] border-solid border-blue">
      Home security company that allows users to share videos and information
      about suspicious activities in their neighbourhoods
    </div>
    <div class="hoplr border-r-[1px] border-b-[1px] border-solid border-blue">
      A Belgium-based social networking platform focused on local communities,
      encouraging neighbors to connect, share information, and support each
      other. It's similar to Nextdoor, offering a localized space for neighbors
      to communicate about events, services, and community news.
    </div>
    <div
      class="mindmyhouse border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      A global house-sitting service that is popular in Europe. It connects
      homeowners with house sitters, fostering trust and community engagement.
    </div>
    <div class="peanut border-r-[1px] border-b-[1px] border-solid border-blue">
      While Peanut is more widely used, it has a strong presence in Europe. It
      connects mothers and women who are looking to discuss all things
      motherhood. It's a bit more niche but serves the purpose of connecting
      people with similar life situations.
    </div>

    <div class="bg-orange text-blue font-io-bold">TA</div>
    <div
      class="nextdoor border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      all neighbours who want to discuss smth
    </div>
    <div class="ioby border-r-[1px] border-b-[1px] border-solid border-blue">
      initiative people who want to do something good for their communities
    </div>
    <div
      class="everyblock border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      mostly Chicago
    </div>
    <div class="lotsa border-r-[1px] border-b-[1px] border-solid border-blue">
      for caregivers and families
    </div>
    <div class="olio border-r-[1px] border-b-[1px] border-solid border-blue">
      people who experience financial struggle, sustainability-aware people,
      freegans etc
    </div>
    <div class="patch border-r-[1px] border-b-[1px] border-solid border-blue">
      46% are from 45 to 64 y.o., 16% are 65+ y.o., also gives me right-wing
      feeling lol TA also visits Nextdoor!
    </div>
    <div class="ca-ring border-r-[1px] border-b-[1px] border-solid border-blue">
      Ring users at first, now they made this feature as a stand-alone product
    </div>
    <div class="hoplr border-r-[1px] border-b-[1px] border-solid border-blue">
      People from the neighborhood who want to support local activities, share
      information, seek events ...
    </div>
    <div
      class="mindmyhouse border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      Targeting homeowners who need someone to look after their home while away
      and individuals willing to house-sit. (travelers, people that are away for
      work a lot ...)
    </div>
    <div class="peanut border-r-[1px] border-b-[1px] border-solid border-blue">
      Targeted primarily at women, especially mothers and those expecting.
    </div>

    <div class="bg-orange text-blue font-io-bold">Strength</div>
    <div
      class="nextdoor border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      Very popular, people really like the opportunity to share their opinions
      (even though this is the root of negative experience as well)
    </div>
    <div class="ioby border-r-[1px] border-b-[1px] border-solid border-blue">
      Connects people to make things better (always positive change)
    </div>
    <div
      class="everyblock border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      covering many needs
    </div>
    <div class="lotsa border-r-[1px] border-b-[1px] border-solid border-blue">
      very organized, main feature is their care calendar where people share
      their caregiving planning
    </div>
    <div class="olio border-r-[1px] border-b-[1px] border-solid border-blue">
      started with food, have “FOOD” and “NON-FOOD” tabs now, clearly know what
      their TA needs, very transparent. They found put that people still want to
      sell stuff on their app and testing this feature now
    </div>
    <div class="patch border-r-[1px] border-b-[1px] border-solid border-blue">
      They might help to support local business, also works human interest
      stories. Helps people who might struggle finding news sources that they
      can trust
    </div>
    <div class="ca-ring border-r-[1px] border-b-[1px] border-solid border-blue">
      Very nice extra to security company users, neighbors feel safer and they
      know that Ring can react in case something happens. Each Neighbors app
      user can define the area around their home for receiving alerts and
      connecting with neighbors. The user can then share the alerts with others
      if they want. Additionally, the Ring News Team keeps neighbors in the know
      about road closures, fires, and other issues.
    </div>
    <div class="hoplr border-r-[1px] border-b-[1px] border-solid border-blue">
      Really brings neighbors together, gets people out of their house, people
      feel more personally involved, also easy contact with the government, no
      cursing or being mean to each other ...
    </div>
    <div
      class="mindmyhouse border-r-[1px] border-b-[1px] border-solid border-blue"
    >
    </div>
    <div class="peanut border-r-[1px] border-b-[1px] border-solid border-blue">
    </div>

    <div class="bg-orange text-blue font-io-bold">Weakness</div>
    <div
      class="nextdoor border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      Whatsapp or Facebook groups can be used instead
    </div>
    <div class="ioby border-r-[1px] border-b-[1px] border-solid border-blue">
      very limited geographically, neighborhoods must be listed from the
      platform's side
    </div>
    <div
      class="everyblock border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      might be too broad, at the same time was geographically limited to Chicago
    </div>
    <div class="lotsa border-r-[1px] border-b-[1px] border-solid border-blue">
      not very popular, might be a lack of volunteers
    </div>
    <div class="olio border-r-[1px] border-b-[1px] border-solid border-blue">
      Some people feel that the selling option will make Olio too commercial.
      Also have something weird going on in their company-volunteers
      relationships, there are a lot of fraud accusations
    </div>
    <div class="patch border-r-[1px] border-b-[1px] border-solid border-blue">
      “small” news sources might be of very low credibility, some articles look
      very amateur
    </div>
    <div class="ca-ring border-r-[1px] border-b-[1px] border-solid border-blue">
      People might falsely accuse marginalized groups. Not always active in all
      neighborhoods (yes: big cities no: villages)
    </div>
    <div class="hoplr border-r-[1px] border-b-[1px] border-solid border-blue">
      As a sitter, you don’t always find a house to sit, bad customer service,
      bad designed website, hard to find sitters.
    </div>
    <div
      class="mindmyhouse border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      Sometimes TMI on the app or too many opinions
    </div>
    <div class="peanut border-r-[1px] border-b-[1px] border-solid border-blue">
    </div>

    <div class="bg-orange text-blue font-io-bold">What people feel</div>
    <div
      class="nextdoor border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      Divides people instead of bringing them together: <a
        href="https://www.theguardian.com/media/2022/mar/20/is-nextdoor-a-friend-in-need-or-vigilante-nightmare#:~:text=subject%20to%20criticism.-,There%20is%20a%20body%20of%20opinion%20that%20sees%20Nextdoor%20as,%2C%20of%20“paranoid%20hysteria”"
        >theguardian.com</a
      >
    </div>
    <div class="ioby border-r-[1px] border-b-[1px] border-solid border-blue">
      “As a researcher on complexity and systems change in community
      development, I feel that ioby exemplifies a true understanding of how
      systems are transformed; is committed to authentic community leadership,
      power and agency; is willing to take risks (after careful consideration)
      that many other funders and partners are unwilling to do; and demonstrates
      a long-term commitment to the communities in which they work.”
    </div>
    <div
      class="everyblock border-r-[1px] border-b-[1px] border-solid border-blue"
    >
    </div>
    <div class="lotsa border-r-[1px] border-b-[1px] border-solid border-blue">
      On why such service important: “We fear we will be rejected or told no,
      fear being seen as less than or weak, or fear being found out. But that’s
      not the case. People need to know we need help and what they can do.”
    </div>
    <div class="olio border-r-[1px] border-b-[1px] border-solid border-blue">
      “I love Olio so much. It’s such a great idea and really has changed my way
      of living. Now I’m instead of throwing things away I’ll put them straight
      on Olio and give back to my local community.”
    </div>
    <div class="patch border-r-[1px] border-b-[1px] border-solid border-blue">
      “It often seems as if the "news" is written by first-year journalism
      students. There is no fact-checking and the grammar is horrific. Better to
      browse the internet for local news.”
    </div>
    <div class="ca-ring border-r-[1px] border-b-[1px] border-solid border-blue">
    </div>
    <div class="hoplr border-r-[1px] border-b-[1px] border-solid border-blue">
      <a
        href="https://help.hoplr.com/hc/nl/articles/360027913071-Hoplr-ervaringen-van-gebruikers"
        >help.hoplr.com</a
      >, <a href="https://www.trustpilot.com/review/www.mindmyhouse.com"
        >trustpilot.com</a
      >
    </div>
    <div
      class="mindmyhouse border-r-[1px] border-b-[1px] border-solid border-blue"
    >
      <a href="https://www.peanut-app.io/editorial/peanut-app-reviews#"
        >medium.com</a
      >
    </div>
    <div class="peanut border-r-[1px] border-b-[1px] border-solid border-blue">
    </div>
  </div>
  <div
    class="absolute right-130 w-[650px] h-full top-0 flex flex-col justify-around"
  >
    <ConclusionBox black={false} id={0} chapter="competitor-analysis">
      <span
        >Initiative people who want to help their neighbourhoods can be the
        Target Audience.</span
      >
    </ConclusionBox>

    <ConclusionBox black={true} id={1} chapter="competitor-analysis">
      <span
        >The apps are more efficient in bigger cities & smaller neighbourhoods</span
      >
    </ConclusionBox>

    <ConclusionBox black={true} id={2} chapter="competitor-analysis">
      <span>Most of existing apps are built around neighbourhood chats.</span>
    </ConclusionBox>
  </div>
</div>

<style>
  #competitor-analysis {
    @apply min-w-[3200px];
  }

  .ca-table {
    grid-template-rows: 50px 50px repeat(5, 1fr);

    & div {
      @apply overflow-hidden;
      @apply flex justify-center items-center;
      @apply p-10;
    }

    &:has(.nextdoor:hover) {
      div:not(.nextdoor) {
        @apply opacity-60;
      }

      .nextdoor {
        @apply bg-blue text-white z-20 relative w-[400px] opacity-100;
      }
    }

    &:has(.ioby:hover) {
      div:not(.ioby) {
        @apply opacity-60;
      }

      .ioby {
        @apply bg-blue text-white z-20 relative w-[400px];
      }
    }

    &:has(.everyblock:hover) {
      div:not(.everyblock) {
        @apply opacity-60;
      }

      .everyblock {
        @apply bg-blue text-white z-20 relative w-[400px];
      }
    }

    &:has(.lotsa:hover) {
      div:not(.lotsa) {
        @apply opacity-60;
      }
      .lotsa {
        @apply bg-blue text-white z-20 relative w-[400px];
      }
    }

    &:has(.olio:hover) {
      div:not(.olio) {
        @apply opacity-60;
      }
      .olio {
        @apply bg-blue text-white z-20 relative w-[400px];
      }
    }

    &:has(.patch:hover) {
      div:not(.patch) {
        @apply opacity-60;
      }
      .patch {
        @apply bg-blue text-white z-20 relative w-[400px];
      }
    }

    &:has(.ca-ring:hover) {
      div:not(.ca-ring) {
        @apply opacity-60;
      }
      .ca-ring {
        @apply bg-blue text-white z-20 relative w-[400px];
      }
    }

    &:has(.hoplr:hover) {
      div:not(.hoplr) {
        @apply opacity-60;
      }
      .hoplr {
        @apply bg-blue text-white z-20 relative w-[400px];
      }
    }

    &:has(.mindmyhouse:hover) {
      div:not(.mindmyhouse) {
        @apply opacity-60;
      }
      .mindmyhouse {
        @apply bg-blue text-white z-20 relative w-[400px];
      }
    }

    &:has(.peanut:hover) {
      div:not(.peanut) {
        @apply opacity-60;
      }
      .peanut {
        @apply bg-blue text-white z-20 relative w-[400px];
      }
    }
  }
</style>
