---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="converging-voting"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Converging: Sticker Voting" bottom={true} height={200} />
  <div
    class="voting-grid flex flex-col w-[5000px] h-[75%] absolute top-1/2 -translate-y-[50%] left-[200px] text-white gap-80"
  >
    <div class="flex flex-row gap-40 items-center text-white h-1/2">
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-1">
        <span
          >A device that an old person can keep with them at all times. A very
          simple layout with only 2-3 buttons allows them to call for help when
          necessary.</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center">
        <span
          >Elderly can contribute to a certain kind of database -> they feel
          helpful instead of helpless</span
        >

        <img class="sticker sticker-1 rotate-6" src="./sticker.png" />
        <img class="sticker sticker-1 -rotate-6" src="./sticker.png" />
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-1">
        <span
          >Posters on the doors let neighbours know that everything is fine,
          that you need some check up or that you are not well.</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-1">
        <span
          >A device that checks the house for possible dangers, like old wood in
          staircase or something.</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center">
        <span
          >Microphones throughout the house listen to any unusual sound and
          alert the family/authorities if necessary.</span
        >

        <img class="sticker sticker-1 rotate-6" src="./sticker.png" />
        <img class="sticker sticker-1 -rotate-6" src="./sticker.png" />
      </div>
      <div class="w-[200px] flex flex-col items-center">
        <span
          >A system where one person (a social worker) check in on two people
          (that are probably doing fine) who check up on 2 more people. Going
          down the ladder of privilege basically.</span
        >

        <img class="sticker sticker-1 rotate-6" src="./sticker.png" />
        <img class="sticker sticker-1 -rotate-6" src="./sticker.png" />
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-1">
        <span
          >In the end they report back to the person above them and the social
          worker finds out how the neighbourhood is doing.</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-1">
        <span
          >An app where a select group of people can see who are the vulnerable
          people in the neighbourhood who might need checking up on.</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-1">
        <span>Can be combine with visible physical object</span>
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-1">
        <span
          >People in the neighbourhood get a sort of tablet with a very simple
          interface to contact your neighbours in cases of emergency.</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-1">
        <span>The flag idea</span>
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-1">
        <span
          >A game where children try to look for patterns in a movement map of
          the neighbourhood to spot if anything is out of the ordinary.</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center">
        <span
          >Fire: people who live alone have to “keep fire on” on the screen of
          smart device. their relatives have apps with their fire that maybe
          consists of their health data or some voice (?)entries, so they see if
          the fire is small, they need to be visited</span
        >

        <img class="sticker sticker-1 rotate-6" src="./sticker.png" />
        <img class="sticker sticker-1 -rotate-6" src="./sticker.png" />
        <img class="sticker sticker-1 -rotate-6" src="./sticker.png" />
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-1">
        <span
          >A sweater that monitors the vital signs of the person wearing it and
          transmits them</span
        >
      </div>
    </div>
    <div class="flex flex-row gap-40 items-center text-black h-1/2">
      <div class="w-[200px] flex flex-col items-center">
        <span
          >A device that an old person needs to pull every 24/48 hours to show
          that they are still alive</span
        >

        <img class="sticker sticker-2 rotate-6" src="./sticker.png" />
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-2">
        <span
          >Pedestrians: our TA are mostly pedestrians, so we can put some
          devices in the neighbourhood alongside their daily walks, maybe to
          navigate special safe routes or to invite each other. only TA knows
          where the devices are</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center">
        <span
          >Sweaters that show people that you are open to talk to/can guide them
          around the neighbourhood</span
        >

        <img class="sticker sticker-2 rotate-6" src="./sticker.png" />
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-2">
        <span
          >Organise walks throughout the neighbourhood to relieve stress</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-2">
        <span
          >Neighbourhood dogs that are free to roam the streets and kinda belong
          to everyone</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center">
        <span
          >Soundscape: a device that understands the soundscape of TA’s
          apartment and can signalise if something has changed (prolonged
          silence, sound of body falling on the floor, maybe some extra noise,
          maybe hard breathing, more or less talking out loud etc).</span
        >

        <img class="sticker sticker-2 rotate-6" src="./sticker.png" /><img
          class="sticker sticker-2 rotate-6"
          src="./sticker.png"
        />
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-2">
        <span
          >Two buttons: one for the old person, one for the family member. When
          one of the two feels stress about the safety of the other one, push
          the button and the other side lights up</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center">
        <span
          >A little imposter statue that you can place in your house and
          monitors the sounds/movement in the house</span
        >

        <img class="sticker sticker-2 rotate-6" src="./sticker.png" />
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-2">
        <span
          >Same as the previous one, except it’s a game where the imposter needs
          to be place throughout the neighbourhood. That way we also check who
          is active and who isn’t</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center">
        <span
          >Uber: connection to delivery and taxi platforms to maybe deliver a
          dish from your favourite restaurant to some local elderly person you
          don’t know, or maybe uber helps deliver TA’s homemade cookies to dome
          neighbours for free</span
        >

        <img class="sticker sticker-2 rotate-6" src="./sticker.png" />
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-2">
        <span
          >Routine and repetition: learn the TA habits and look for any
          deviations. encourage them into some new routine too</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-2">
        <span
          >Xerox: smart device that scans the room to understand what’s going on
          inside</span
        >
      </div>
      <div class="w-[200px] flex flex-col items-center no-votes no-votes-2">
        <span
          >Necklace that can understand the position and heartbeat of its owner</span
        >
      </div>
    </div>
  </div>
</div>
<style>
  #converging-voting {
    @apply min-w-[7800px];
  }

  .sticker {
    @apply absolute w-[300px];
  }

  .sticker-1 + .sticker-1 {
    @apply -translate-x-[70px];
  }

  .sticker-2 + .sticker-2 {
    @apply -translate-x-[70px];
  }

  .no-votes {
    @apply decoration-orange decoration-8;
  }
</style>
