---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="converging-personas"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Personas" bottom={true} height={50} />
  <div
    class="parallax-plane-1-converging-personas h-full relative top-0 left-[400px] flex flex-row gap-80"
  >
    <div class="persona blue">
      <h4>PERSONA 1: Main stakeholder</h4>
      <div class="persona-image">
        <img src="./persona-1.png" />
        <span>#Bosslady, #Timetable, #Chaos</span>
      </div>
      <div class="persona-title">
        <div>
          <span>Name:</span>
          <span> Albus Percival Wulfric Brian Dumbledore</span>
        </div>
        <div>
          <span>Archetype: </span>
          <span>Magician</span>
        </div>
      </div>
      <div class="persona-socialised">
        <h4>Socialised</h4>
        <span
          >4/10 introvert, but loves people. People see him as a reserved
          person, he is comfortable spending his time on his own. He is close to
          his kids, but they live far away. Neighbours say hi when they see him,
          but don’t try do small talks.</span
        >
      </div>
      <div class="persona-painpoints">
        <h4>Painpoints</h4>
        <span
          >Dumbledore is looking for connection with the outer world in general.
          Wants to know that his kids are doing alright. Wants to be closer to
          the family, but doesn’t want to be intrusive.</span
        >
      </div>
      <div class="persona-habits">
        <h4>Habits & Lifestyle</h4>
        <span
          >Daily walks around the neighbourhood, watches TV every evening,
          sometimes goes through the book. Lives in an apartment in town.</span
        >
      </div>
      <div class="persona-tech">
        <h4>Tech Savviness</h4>
        <div class="persona-tech-rating">
          <div class="filled"></div>
          <div class="filled"></div>
          <div class="filled"></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="persona blue">
      <h4>PERSONA 2: Main stakeholder</h4>
      <div class="persona-image">
        <img src="./persona-2.png" />
        <span>#connection, #meaning, #happiness</span>
      </div>
      <div class="persona-title">
        <div>
          <span>Name:</span>
          <span>Pomona Sprout</span>
        </div>
        <div>
          <span>Archetype: </span>
          <span>Regular Gal</span>
        </div>
      </div>
      <div class="persona-socialised">
        <h4>Socialised</h4>
        <span
          >7/10 open to new contacts, but won’t initiate them. Close friends to
          some of neighbours, knows all family news. Neighbours know they can
          count on her to water their plants or feed the cat when they leave.</span
        >
      </div>
      <div class="persona-painpoints">
        <h4>Painpoints</h4>
        <span
          >She knows a lot of people of her age, but would like to deepen the
          connection with them, sometimes it feels a bit superficial. She really
          wants to belong. Her family visits her from time to time. Her
          grandkids bring her joy, but she wants to have other sources of
          happiness too. She would like to connect with younger generation more.</span
        >
      </div>
      <div class="persona-habits">
        <h4>Habits & Lifestyle</h4>
        <span
          >Pomona lives in a small house, she has her own garden and spends a
          lot of time there. Her friendships are based around gardening and
          retirement residence she visits from time to time. She watches TV from
          time to time.</span
        >
      </div>
      <div class="persona-tech">
        <h4>Tech Savviness</h4>
        <div class="persona-tech-rating">
          <div class="filled"></div>
          <div class="filled"></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="persona orange">
      <h4>PERSONA 3: Secondary stakeholder</h4>
      <div class="persona-image">
        <img src="./persona-3.png" />
        <span>#shyguy, #helping, #dedication</span>
      </div>
      <div class="persona-title">
        <div>
          <span>Name:</span>
          <span>Peter Parker</span>
        </div>
        <div>
          <span>Archetype: </span>
          <span>Hero (spiderman) / The everyman (p)</span>
        </div>
      </div>
      <div class="persona-socialised">
        <h4>Socialised</h4>
        <span
          >6/10 mostly hangs out with the same group over and over again, but is
          always kind to other people from his school. However Peter is a more
          introverted, shy individual especially when it comes to expressing his
          feelings. His relationships with his mentors, like Tony Stark, develop
          him into a more confident individual. After loosing his Uncle, whom he
          cared a lot about, he’s reminded about how important it is to talk to
          older people.</span
        >
      </div>
      <div class="persona-painpoints">
        <h4>Painpoints</h4>
        <span
          >He is rather introverted and and has nerves talking to other people.
          He wants to help people without them getting close to him.</span
        >
      </div>
      <div class="persona-habits">
        <h4>Habits & Lifestyle</h4>
        <span
          >Peter lives in a small house with his Aunt and Uncle, they don’t have
          a lot of money. He goes to school and has a busy life next to school.
          He cares about his physical health and works out often to stay in
          shape.</span
        >
      </div>
      <div class="persona-tech">
        <h4>Tech Savviness</h4>
        <div class="persona-tech-rating">
          <div class="filled"></div>
          <div class="filled"></div>
          <div class="filled"></div>
          <div class="filled"></div>
          <div class="filled"></div>
          <div class="filled"></div>
          <div class="filled"></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="persona orange">
      <h4>PERSONA 4: Secondary stakeholder</h4>
      <div class="persona-image">
        <img src="./persona-4.png" />
        <span>#Bosslady, #Timetable, #Chaos</span>
      </div>
      <div class="persona-title">
        <div>
          <span>Name:</span>
          <span>Kate Foster</span>
        </div>
        <div>
          <span>Archetype: </span>
          <span>The achiever</span>
        </div>
      </div>
      <div class="persona-socialised">
        <h4>Socialised</h4>
        <span
          >8/10 , Kate has one best friend and a lot of
          not-friends-but-not-not-friends. She is good in connecting and
          empathising with people, that’s also the reason why her PR company
          runs so well. Outside of work, she strives to maintain close
          friendships, especially with other mothers who share similar
          experiences and challenges.</span
        >
      </div>
      <div class="persona-painpoints">
        <h4>Painpoints</h4>
        <span
          >Due to Kate’s work attic it’s hard to find time to call her parents
          or spend time with loved ones. This often leads to feelings of guilt
          and stress. Because of all her commitments (and sometimes double
          bookings) there can be a lot of chaos.</span
        >
      </div>
      <div class="persona-habits">
        <h4>Habits & Lifestyle</h4>
        <span
          >To manage her responsibilities, Kate relies on planners, apps, and
          lists. She goes to networking events after hours. Despite her busy
          schedule she tries to prioritise time with her family. Sometimes she
          likes to take time for herself by doing a quick workout or having a
          bath with a glass of wine.</span
        >
      </div>
      <div class="persona-tech">
        <h4>Tech Savviness</h4>
        <div class="persona-tech-rating">
          <div class="filled"></div>
          <div class="filled"></div>
          <div class="filled"></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #converging-personas {
    @apply min-w-[2650px];
  }

  .persona {
    @apply h-full w-[500px] p-20 overflow-auto;
    @apply flex flex-col items-center justify-between gap-40;

    &.blue {
      @apply bg-blue text-white;

      h4 {
        @apply text-green;
      }

      .persona-tech-rating {
        div {
          @apply border-white;
          &.filled {
            @apply bg-white;
          }
        }
      }
    }

    &.orange {
      @apply bg-orange text-grey;

      h4 {
        @apply text-blue;
      }

      .persona-tech-rating {
        div {
          @apply border-grey;
          &.filled {
            @apply bg-grey;
          }
        }
      }
    }

    h4 {
      @apply font-io-semibold uppercase text-xl mb-[5px];
    }
  }

  .persona-title {
    @apply w-full flex flex-col gap-10;

    div {
      @apply flex flex-row justify-between;
      span:first-child {
        @apply font-io-regular uppercase;
      }
    }
  }

  .persona-image {
    @apply w-full flex flex-col items-center gap-10;

    img {
      @apply w-[50%];
    }
  }

  .persona-tech {
    @apply w-full flex flex-col gap-10;
  }

  .persona-tech-rating {
    @apply w-full flex flex-row justify-between;

    div {
      @apply w-[6%] aspect-square border-2 border-white rounded-full;

      &.filled {
        @apply bg-white;
      }
    }
  }
</style>
