---
import ChapterHead from "../ChapterHead.astro";
import ConclusionBox from "../ConclusionBox.astro";
---

<div
  id="converging-chili"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Converging: Chili" bottom={false} height={200}>
    As a part of our primary research, we did a competitors analysis to see
    what’s out there</ChapterHead
  >
</div>
