---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="converging-feature-matrix"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Converging: Future Matrix." bottom={false} height={200} />
</div>
