---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="converging-feature-matrix"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead
    title="Converging: Feature Matrix."
    bottom={false}
    height={200}
  />
  <div class="fm-grid parallax-plane-1-converging-feature-matrix bg-white">
    <div
      class="sticky top-0 flex flex-row w-full h-[50px] min-h-[50px] bg-grey text-white items-center gap-20 border-b-[1px] border-grey"
    >
      <div class="h-full w-1/6 flex justify-center items-center text-green">
        Persona
      </div>
      <div
        class="h-full w-1/6 flex justify-center items-center bg-green text-grey"
      >
        Painpoints
      </div>
      <div
        class="h-full w-1/6 flex justify-center items-center bg-orange text-grey"
      >
        Feature
      </div>
      <div
        class="h-full w-1/6 flex justify-center items-center bg-grey text-white"
      >
        Feature Assets
      </div>
      <div
        class="h-full w-1/6 flex justify-center items-center bg-blue text-white"
      >
        Actions
      </div>
      <div class="h-full w-1/6 flex justify-center items-center text-green">
        YES or NO
      </div>
    </div>
    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Dumbledore</span>
      <span>He’s looking for connection to the outer world</span>
      <span
        >Bring the outer world – not necessarily the people – in his
        surroundings</span
      >
      <span
        >The tulips translate the audio from the city to the Dumbledore’s
        apartment</span
      >
      <span>turn on the sound of the city!</span>
      <span
        >(YES because it has the possibility to connect people that might not be
        able to leave their house)</span
      >
    </div>

    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Dumbledore</span>
      <span>He wants to have closer connection to his family</span>
      <span
        >The tulip at Dumbledore’s is paired with other tulips that his family
        has (might be more than 2)</span
      >
      <span
        >Every owner of the connected flower can light up different color and
        all other owners will see it. They also can talk to it and leave
        messages</span
      >
      <span>Connect the tulip to the family application</span>
      <span
        >(YES but it does complicate the product a lot and doesn’t offer many
        advantages over a phone)</span
      >
    </div>

    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Dumbledore</span>
      <span>He wants to be sure & safe</span>
      <span
        >People at the street will be aware if something happens and Dumbledore
        needs some kind of help</span
      >
      <span
        >Dumbledore can light up his tulip in a special way that people on the
        street will see it and will be able to react to it</span
      >
      <span>See the sound of the help, call for the help for Dumbledore</span>
      <span
        >NO, this does not seem like a good idea, in terms of privacy and safety</span
      >
    </div>

    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Pomona</span>
      <span
        >Pomona is looking for deeper connection to people & connect to younger
        generations</span
      >
      <span>Pomona can talk to or hear from other people using tulips</span>
      <span
        >Paired tulips allow to talk into them, sing songs, recite poems</span
      >
      <span>Sing or talk to the tulip.</span>
      <span
        >YES, thats how we’re going to connect people outdoors to the elderly
        inside</span
      >
    </div>

    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Pomona</span>
      <span
        >Pomona is looking for deeper connection to people & connect to younger
        generations</span
      >
      <span
        >Pomona can show that she’s open for conversation without being active
        initiator</span
      >
      <span
        >Pomona can place tulip in her flowerbed and light it up in a special
        code, thus people who know about this program will maybe visit and talk
        to her</span
      >
      <span>Switch tulip to the “visit” mode</span>
      <span></span>
    </div>

    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Pomona</span>
      <span
        >Pomona is looking for deeper connection to people & connect to younger
        generations</span
      >
      <span
        >Pomona can show that she’s open for conversation without being active
        initiator</span
      >
      <span
        >Pomona can mark on the app that she is open for conversation and then
        people can be guided from the flowerbed to her place using the app</span
      >
      <span>Switch tulip to the “on” mode</span>
      <span>NO –– not private and not safe</span>
    </div>

    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Pomona</span>
      <span
        >Pomona want to be able to communicate with old person in non-invasive
        way</span
      >
      <span
        >Pomona has an app that displays the current status of the flower.</span
      >
      <span
        >An application connected to one or multiple flowers. In it, they can
        see the colour of the flower</span
      >
      <span>Open the app/connect with the flower</span>
      <span>NO –– Not very well adjusted to the TA</span>
    </div>

    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Peter</span>
      <span>Introverted, nervous to talk to people</span>
      <span>On the app example questions he can ask</span>
      <span
        >When in contact with a tulip you can see basic information about that
        person (hobbies, other interests etc.) And there are questions you can
        ask about that.</span
      >
      <span
        >Open the app, connect with a flower and choose a question to ask.</span
      >
      <span
        >YES, now also introverted people feel comfortable talking to others.</span
      >
    </div>

    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Peter</span>
      <span>Doesn’t want people to know his identity</span>
      <span>An option to have an anonymous conversation</span>
      <span
        >You can choose on your profile if you want to stay anonymous or not</span
      >
      <span
        >Open the app, go to your profile and toggle the anonymous button.</span
      >
      <span
        >YES, you can choose if you want to stay anonymous or not, it’s not that
        everything is anonymous now.</span
      >
    </div>

    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Kate</span>
      <span>Hard to find time for her family because of her work ethic</span>
      <span>App can be linked to the childs online calendar</span>
      <span>Linked to icloud</span>
      <span>Link your app to your icloud/outlook/... calendar</span>
      <span
        >No, Didn’t think it trough, but we want to add them on the app
        eventually</span
      >
    </div>

    <div class="fm-grid-row">
      <span class="fm-grid-row-head">Kate</span>
      <span>A lot of chaos due to her busy life</span>
      <span>Alerts to remind them when interact with the app/tulip</span>
      <span>App gives alerts</span>
      <span>Allow alerts from the app</span>
      <span>NO, an alert is often ignored</span>
    </div>
  </div>

  <style>
    #converging-feature-matrix {
      @apply min-w-[1850px];
    }

    .fm-grid {
      @apply flex flex-col gap-20 top-0 w-[1300px] h-full overflow-auto absolute left-[450px];
      grid-template-columns: 1fr 250px 250px 250px 250px 250px;
    }

    .fm-grid-row {
      @apply flex flex-row w-full bg-white h-[200px] min-h-[200px] gap-20;

      span:nth-child(2) {
        @apply bg-green;
      }

      span:nth-child(3) {
        @apply bg-orange;
      }

      span:nth-child(4) {
        @apply bg-grey text-white;
      }

      span:nth-child(5) {
        @apply bg-blue text-white;
      }

      span:nth-child(6) {
        @apply bg-white;
      }

      .fm-grid-row-head {
        @apply h-full flex w-1/6;
        @apply font-io-regular text-xl;
      }

      span {
        @apply h-full flex justify-center items-center w-1/6 rounded-lg p-10 text-center;
      }
    }
  </style>
</div>
