---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="converging-personas"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Converging: Personas" bottom={true} height={50} />
</div>
