---
import ChapterHead from "../ChapterHead.astro";
---

<div id="letters" class="chapter h-full visible-page-width-disabled relative">
  <ChapterHead title="Love/Breakup Letters" bottom={false} height={300} />
  <div
    class="bg-white px-40 py-80 w-[500px] -rotate-6 absolute left-[200px] top-[19%] shadow-md"
  >
    <img
      class="absolute w-[100px] bottom-[40px] left-[150px] opacity-60"
      src="./kiss.png"
    />
    <p>Dear Tulip device</p>
    <p>
      My heart can no longer keep these feelings for myself. Words come short to
      tell you how much you mean to me. Let’s start with how good you are at
      connecting people, you’re the glue to this disintegrated society. The way
      you guide audio from the city to peoples apartment makes my hearth grow
      fonder.
    </p>
    <p>
      You redirect the lost with your endless amount of inspiration and you
      provide the possibility to let the creatives go their way.
    </p>
    <p>
      Our love is written into the stars, just like your feelings are written
      into the city tulips. Show me your true colours, they will be openly
      displayed into the city, so everyone can see your true beauty.
    </p>
    <p>Much love</p>
    <p>UX powergroup 4</p>
  </div>
  <div
    class="parallax-plane-1-letters bg-white px-40 py-80 w-[500px] rotate-3 absolute left-[650px] top-[50px] shadow-lg"
  >
    <img class="absolute w-[200px] top-[20px] left-[300px]" src="./ink.png" />
    <p>Dear Tulip device</p>

    <p>
      You’re too much for me. You’re taking too much of my of time by always
      sending alerts. I really tried but I just can’t keep up with all your
      updates and alerts.
    </p>

    <p>
      My thoughts and my heart are not agreeing. I want you to know where I am,
      but it’s just not safe at the moment. I don’t want you to be able to guide
      people to my home. So I will let you go, it’s better for you, it’s better
      for me.
    </p>

    <p>
      I would love for you to look out the window, trying to get my attention,
      but right now it’ doesn’t feel good. Right place, wrong time. Give me time
      to grow and work on myself, maybe then I can stand on your sidewalk
      watching your emotions, when you let me.
    </p>

    <p>May we meet again in a different universe</p>

    <p>Much love</p>

    <p>UX powergroup 4</p>
  </div>
</div>
