---

---

<div
  id="project-poster"
  class="chapter h-full visible-page-width-disabled relative flex flex-col"
>
  <div class="h-1/6 w-full flex flex-col justify-center gap-20">
    <h3 class="text-white px-40">Project poster.</h3>
    <div class="w-full flex flex-row">
      <h4 class="w-1/4 text-center text-white">The basics</h4>
      <h4 class="w-1/4 text-center text-white">Problem space</h4>
      <h4 class="w-1/4 text-center text-white">Validation</h4>
      <h4 class="w-1/4 text-center text-white">Ready to make it</h4>
    </div>
  </div>
  <div class="parallax-plane-1-project-poster h-5/6 w-full flex flex-row">
    <div class="w-1/4 bg-green flex flex-col gap-20 p-20">
      <div class="flex flex-col">
        <h5>Team</h5>
        <span>UX Power Team 4.10</span>
      </div>
      <div class="flex flex-col">
        <h5>Project owners</h5>
        <span>Devine, Immec, UX Power Team</span>
      </div>
      <div class="flex flex-col">
        <h5>Team members</h5>
        <span>Adam, Ele, Ella, Marats</span>
      </div>
      <div class="flex flex-col">
        <h5>End date</h5>
        <span>5/05, 18.59</span>
      </div>
      <div class="flex flex-col">
        <h5>Status</h5>
        <span>Finished</span>
      </div>
    </div>
    <div class="w-1/4 bg-blue flex flex-col gap-20 p-20 text-white">
      <div class="flex flex-col">
        <h5>Target audience</h5>
        <span>Socially less protected people @ Belgium neighbourhood.</span>
      </div>
      <div class="flex flex-col">
        <h5>Problem statement</h5>
        <p>
          Because cities have a high degree of individualism, people without
          social safety nets are more vulnerable to unhealthy and sometimes
          dangerous isolation, especially during emergencies like pandemics or
          climate disasters.
        </p>
      </div>
      <div class="flex flex-col">
        <h5>How do we measure success?</h5>
        <ul class="list-decimal ml-10">
          <li>
            <span class="mb-10"
              >Improve the sustainability in the neighbourhood</span
            >
          </li>
          <li>
            <span
              >Make socially unprotected people feel more comfortable with other
              neighbours</span
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-1/4 bg-orange flex flex-col gap-20 p-20 overflow-y-auto">
      <div class="flex flex-col">
        <h5>What do we already know?</h5>
        <ul class="list-decimal ml-10">
          <li><span>The social cohesion in Kortrijk is going down.</span></li>
          <li>
            <span
              >The degree of criminality in Kortrijk is higher than the flemish
              average.</span
            >
          </li>
          <li><span>The reaction speeds of elderly people goes down.</span></li>
          <li>
            <span>Falls are more likely to occur to elderly people.</span>
          </li>
        </ul>
      </div>
      <div class="flex flex-col">
        <h5>What are our own assumptions?</h5>
        <ul class="list-decimal ml-10">
          <li><span>Elderly people are fragile and helpless.</span></li>
          <li><span>Elderly people cannot use phones.</span></li>
          <li>
            <span
              >Elderly people have slower reaction times to/during emergencies.</span
            >
          </li>
          <li><span>There aren’t many emergencies.</span></li>
          <li><span>Neighborhoods are disconnected.</span></li>
          <li><span>Connected neighborhoods are a good thing.</span></li>
          <li><span>Elderly people want to be checked upon.</span></li>
          <li>
            <span
              >Some people with disabilities are vulnerable and need checking.</span
            >
          </li>
          <li>
            <span>In general, people would like to help vulnerable people.</span
            >
          </li>
          <li>
            <span
              >A connected neighborhood would discourage break-ins and other
              crime.</span
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-1/4 bg-white flex flex-col gap-20 p-20 overflow-auto">
      <div class="flex flex-col">
        <h5>What are we doing?</h5>
        <p>
          We’re making a connection between elderly people living alone and
          their city. We’re using a smart device where the older person can
          press a button, it will send a signal to a sister-device in the city.
          A stranger who is walking around in the city will then be able to send
          a voice memo to the older person.
        </p>
      </div>
      <div class="flex flex-col">
        <h5>Why will a customer want this?</h5>
        <span
          >They want this because being connected to their city can make them
          feel less lonely.</span
        >
      </div>
      <div class="flex flex-col">
        <h5>Visualize the solution</h5>
        <img src="./project-poster-viz.png" />
      </div>
      <div class="flex flex-col">
        <h5>Scale and scope</h5>
        <span
          >Depending on what parts of the project we would want the fully
          develop, we would need a team of varying size.</span
        >
        <ul class="list-disc">
          <li>
            To create the flowers, we would already need a pretty big team. Each
            person needs to flower and each flower would have to be 3D-printed
            and would have electronics inside.
          </li>
          <li>
            To create the tablet application, we would need a small team. The
            application is mostly static and not to complex.
          </li>
          <li>
            To create the phone application, we would need a big team. The app
            would need accounts, authentication, notifications, location, etc.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<style>
  #project-poster {
    @apply min-w-[1700px];
  }
</style>
