---
import ChapterHead from "../ChapterHead.astro";
import ConclusionBox from "../ConclusionBox.astro";
---

<div
  id="prototype-paper"
  class="chapter h-full visible-page-width-disabled relative"
>
  <div class="absolute top-80 left-0">
    <span class="text-[100px] font-io-bold text-blue bg-orange">PROTOTYPE.</span
    >
  </div>
  <ChapterHead title="Prototype: Paper" bottom={false} height={30}
    ><span
      >As a first prototype, we created a paper version. This was mostly done to
      test for ourselves how we were going to build the flowers out of more
      durable materials. To get the size and shape right.</span
    ></ChapterHead
  >
  <img
    class="parallax-plane-1-prototype-paper relative left-[500px] top-1/2 -translate-y-[50%] z-20"
    src="prototype-paper.png"
  />
  <div class="absolute top-40 left-[1000px]">
    <ConclusionBox black={false} id={0} chapter="prototype-paper"
      ><span
        >We needed to think how to translate the sound. The shape and the size
        of the flower became clear. The lights can be connected to the arduino
        through the stem. How can we make the connection between the home and
        city tulips clear?</span
      ></ConclusionBox
    >
  </div>
</div>
<style>
  #prototype-paper {
    @apply min-w-[1500px];
  }
</style>
