---
import ChapterHead from "../ChapterHead.astro";
import ConclusionBox from "../ConclusionBox.astro";
---

<div
  id="prototype-sound"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Prototype: Sound" bottom={false} height={100}
    ><span
      >Now it was time to test the actual connection between city and
      individual. This prototype was made specifically with the sound in mind.
      We created an opening where a phone could put and made sure that the user
      could only touch the part of the phone that would activate the sound.</span
    ></ChapterHead
  >
  <img
    class="parallax-plane-1-prototype-sound relative left-[700px] top-1/2 -translate-y-[50%]"
    src="prototype-sound.png"
  />
  <div class="test absolute left-[1400px] top-0">
    <div>
      <span class="test-col-title">Testing: Pre-Build</span>
      <div class="test-col green">
        <div class="test-s">
          <span class="test-q">Who are our Target User?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>Random passerbyes on the street.</span>
            </li>
          </ul>
        </div>

        <div class="test-s">
          <span class="test-q">What are we testing?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>People saying things in the microphone.</span>
            </li>
            <li class="test-line">
              <span>People navigating the iPad.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What is the user goal?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>To record an improvised message.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What materials do we need?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>Prototype 2.</span>
            </li>
            <li class="test-line">
              <span>Phone for calling.</span>
            </li>
            <li class="test-line">
              <span>Phone for recording.</span>
            </li>

            <li class="test-line">
              <span>Instructions.</span>
            </li>
            <li class="test-line">
              <span>Flowerbed.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <span class="test-col-title">Testing: Pre-Test</span>
      <div class="test-col orange">
        <div class="test-s">
          <span class="test-q">What is the scenario?</span>
          <ul class="test-a">
            <li class="test-line">
              <span
                >Random person walks through the city and feels like making
                someones day.</span
              >
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What CAN'T we tell the user before testing?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>Explain what to do.</span>
            </li>
            <li class="test-line">
              <span>Give them inspiration about what to say.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q"
            >What do we need to tell the user before testing?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>A short description of the project.</span>
            </li>
            <li class="test-line">
              <span>Permissions to be filmed and recorded.</span>
            </li>
            <li class="test-line">
              <span>Imagine there is a flowerbed.</span>
            </li>
            <li class="test-line">
              <span>They can read the instructions on the screen.</span>
            </li>
          </ul>
        </div>

        <div class="test-s">
          <span class="test-q">What are the user tasks?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>1. Read the instructions.</span>
            </li>
            <li class="test-line">
              <span>2. Record the message, following the instructions.</span>
            </li>
            <li class="test-line">
              <span>3. Navigate an inspiration.</span>
            </li>

            <li class="test-line">
              <span>4. play/pause the recording.</span>
            </li>
            <li class="test-line">
              <span>Flowerbed.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q"
            >What questions do we need to ask the user afterwards?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>Would you do this in a real life scenario?</span>
            </li>
            <li class="test-line">
              <span
                >Would you like this if you would be lonely/stuck at home?</span
              >
            </li>
            <li class="test-line">
              <span
                >Would this setup make you stop and read the instructions?</span
              >
            </li>

            <li class="test-line">
              <span>How do you feel after having send a message?</span>
            </li>
            <li class="test-line">
              <span>Flowerbed.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <span class="test-col-title">Testing: Test</span>
      <div class="test-grid parallax-plane-1-prototype-sound">
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          User Task ID
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          User ID
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          What are they saying?
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          What are they feeling?
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          Notes
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          Score
        </div>
        <span>1</span>
        <span>1</span>
        <span>“Ah okay so the sound device is inside the tulip itself?”</span>
        <span>Slight confusion but also interest.</span>
        <span
          >The idea seems to interest her, but it's easy to make it too
          complicated</span
        >
        <span>3/5</span>

        <span>2</span>
        <span>1</span>
        <span>/</span>
        <span>She looks interested and looks like she gets the concept</span>
        <span
          >The sound is not very understandable. Something failed with the
          prototype.</span
        >
        <span>2/5</span>

        <span>3</span>
        <span>1</span>
        <span>/</span>
        <span>“We support the youth and their new ideas”</span>
        <span
          >The sounds stops because of a failure and she thinks the test is over
          and starts talking to us.</span
        >
        <span>0/5</span>

        <span>1</span>
        <span>2</span>
        <span>/</span>
        <span>He looks at the box but seems to want more information</span>
        <span>We need to make sure explanation is clear</span>
        <span>2/5</span>

        <span>2</span>
        <span>2</span>
        <span>/</span>
        <span
          >He is listening to the audio, but he doesn't understand it. He is
          still confused</span
        >
        <span>Make sure the audio is audible and loud enough.</span>
        <span>3/5</span>

        <span>3</span>
        <span>2</span>
        <span
          >He talks to us about what he used to do in live and then he enjoys
          what the youth is trying.</span
        >
        <span>Mostly confusion</span>
        <span
          >He didn’t understand that there is no phone in the end result</span
        >
        <span>1/5</span>

        <span>1</span>
        <span>3</span>
        <span>/</span>
        <span
          >She doesn’t touch the box, because she doesn’t understand so she
          doesn’t know what to do</span
        >
        <span>/</span>
        <span>1/5</span>

        <span>1</span>
        <span>3</span>
        <span>She tells us about her hearing problems</span>
        <span>She doesn’t hear the sound coming out of the box</span>
        <span
          >Explaining the concept and the test to elderly people is really hard,
          and requires extra attention.</span
        >
        <span>0/5</span>

        <span>1</span>
        <span>3</span>
        <span
          >She tells us she finds it hard to have conversations with people</span
        >
        <span>She feels sad because she can’t understand us</span>
        <span
          >The test itself failed but it was interesting to get confronted with
          the limitations of our product.</span
        >
        <span>1/5</span>
      </div>
    </div>
    <div class="relative">
      <span class="test-col-title">Testing: Post-Test</span>
      <div class="absolute top-[20%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={false}>
          <span
            >The arduino setup with WebRTC connection really helped us to test
            the feeling of smart device with out Target Audience. Our
            assumptions about TA being not crazy about having smart devices were
            confirmed, how can we make it even friendlier?
          </span>
        </ConclusionBox>
      </div>
      <div class="absolute bottom-[20%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={true}>
          <span
            >The audio connection was not clear enough for the users at home ->
            The connection is quite clear for users in city, but how can we make
            it even clearer?
          </span>
        </ConclusionBox>
      </div>
    </div>
  </div>
</div>
<style>
  #prototype-sound {
    @apply min-w-[6400px];
  }
</style>
