---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="prototype-sound"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Prototype: Sound" bottom={false} height={100}
    ><span
      >Now it was time to test the actual connection between city and
      individual. This prototype was made specifically with the sound in mind.
      We created an opening where a phone could put and made sure that the user
      could only touch the part of the phone that would activate the sound.</span
    ></ChapterHead
  >
  <img
    class="parallax-plane-1-prototype-sound relative left-[700px] top-1/2 -translate-y-[50%]"
    src="prototype-sound.png"
  />
</div>
<style>
  #prototype-sound {
    @apply min-w-[1400px];
  }
</style>
