---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="prototype-app-paper"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Phone: Paper." bottom={false} height={20} />
</div>
