---
import ChapterHead from "../ChapterHead.astro";
import ConclusionBox from "../ConclusionBox.astro";
---

<div
  id="prototype-ipad-figma"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Tablet: Figma." bottom={true} height={120} />
  <div class="test absolute left-[500px] top-0">
    <div>
      <span class="test-col-title">Pre-build</span>
      <div class="test-col green parallax-plane-1-prototype-ipad-figma">
        <div class="test-s">
          <span class="test-q">Who are our Target User?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>Random passerbyes on the street.</span>
            </li>
          </ul>
        </div>

        <div class="test-s">
          <span class="test-q">What are we testing?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>People saying things in the microphone.</span>
            </li>
            <li class="test-line">
              <span>People navigating the iPad.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What is the user goal?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>To record an improvised message.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What materials do we need?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>Prototype 2.</span>
            </li>
            <li class="test-line">
              <span>Phone for calling.</span>
            </li>
            <li class="test-line">
              <span>Phone for recording.</span>
            </li>

            <li class="test-line">
              <span>Instructions.</span>
            </li>
            <li class="test-line">
              <span>Flowerbed.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <span class="test-col-title">Pre-Test</span>
      <div class="test-col orange">
        <div class="test-s">
          <span class="test-q">What is the scenario?</span>
          <ul class="test-a">
            <li class="test-line">
              <span
                >Random person walks through the city and feels like making
                someones day.</span
              >
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What CAN'T we tell the user before testing?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>Explain what to do.</span>
            </li>
            <li class="test-line">
              <span>Give them inspiration about what to say.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q"
            >What do we need to tell the user before testing?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>A short description of the project.</span>
            </li>
            <li class="test-line">
              <span>Permissions to be filmed and recorded.</span>
            </li>
            <li class="test-line">
              <span>Imagine there is a flowerbed.</span>
            </li>
            <li class="test-line">
              <span>They can read the instructions on the screen.</span>
            </li>
          </ul>
        </div>

        <div class="test-s">
          <span class="test-q">What are the user tasks?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>1. Read the instructions.</span>
            </li>
            <li class="test-line">
              <span>2. Record the message, following the instructions.</span>
            </li>
            <li class="test-line">
              <span>3. Navigate an inspiration.</span>
            </li>

            <li class="test-line">
              <span>4. play/pause the recording.</span>
            </li>
            <li class="test-line">
              <span>Flowerbed.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q"
            >What questions do we need to ask the user afterwards?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>Would you do this in a real life scenario?</span>
            </li>
            <li class="test-line">
              <span
                >Would you like this if you would be lonely/stuck at home?</span
              >
            </li>
            <li class="test-line">
              <span
                >Would this setup make you stop and read the instructions?</span
              >
            </li>

            <li class="test-line">
              <span>How do you feel after having send a message?</span>
            </li>
            <li class="test-line">
              <span>Flowerbed.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <span class="test-col-title">Test</span>
      <div class="test-grid">
        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>
      </div>
    </div>
    <div class="relative">
      <span class="test-col-title">Post-Test</span>
      <div class="absolute top-[20%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={false}>
          <span
            >The arduino setup with WebRTC connection really helped us to test
            the feeling of smart device with out Target Audience. Our
            assumptions about TA being not crazy about having smart devices were
            confirmed, how can we make it even friendlier?
          </span>
        </ConclusionBox>
      </div>
      <div class="absolute bottom-[20%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={true}>
          <span
            >The audio connection was not clear enough for the users at home ->
            The connection is quite clear for users in city, but how can we make
            it even clearer?
          </span>
        </ConclusionBox>
      </div>
    </div>
  </div>
</div>
<style>
  #prototype-ipad-figma {
    @apply min-w-[5500px];
  }
</style>
