---
import ChapterHead from "../ChapterHead.astro";
import ConclusionBox from "../ConclusionBox.astro";
---

<div
  id="prototype-sound"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Prototype: Sound" bottom={false} height={100}
    ><span
      >Now it was time to test the actual connection between city and
      individual. This prototype was made specifically with the sound in mind.
      We created an opening where a phone could put and made sure that the user
      could only touch the part of the phone that would activate the sound.</span
    ></ChapterHead
  >
  <img
    class="parallax-plane-1-prototype-sound relative left-[700px] top-1/2 -translate-y-[50%]"
    src="prototype-sound.png"
  />
  <div class="test absolute left-[1400px] top-0">
    <div>
      <span class="test-col-title">Testing: Pre-Build</span>
      <div class="test-col green">
        <div class="test-s">
          <span class="test-q">Who are our Target User?</span>
          <ul class="test-a">
            <li class="test-line">
              <span
                >Main Target Audience. Elderly people that are not too
                tech-savvy.</span
              >
            </li>
          </ul>
        </div>

        <div class="test-s">
          <span class="test-q">What are we testing?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>TA using the flower.</span>
            </li>
            <li class="test-line">
              <span>TA listening to sounds coming from flower.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What is the user goal?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>To listen to the flower as intended.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What materials do we need?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>Prototype 3.</span>
            </li>
            <li class="test-line">
              <span>Phone for calling.</span>
            </li>
            <li class="test-line">
              <span>Phone for recording.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <span class="test-col-title">Testing: Pre-Test</span>
      <div class="test-col orange parallax-plane-1-prototype-lights">
        <div class="test-s">
          <span class="test-q">What is the scenario?</span>
          <ul class="test-a">
            <li class="test-line">
              <span
                >Person sits at home and feels like having some connection to
                the city centre. Their flower is already set up.</span
              >
            </li>
          </ul>
        </div>

        <div class="test-s">
          <span class="test-q"
            >What do we need to tell the user before testing?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>A short description of the project.</span>
            </li>
            <li class="test-line">
              <span>Permissions to be filmed and recorded.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What CAN'T we tell the user before testing?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>Explain what to do.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What are the user tasks?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>1. Enable the light.</span>
            </li>
            <li class="test-line">
              <span>3. Disable the light.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q"
            >What questions do we need to ask the user afterwards?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>What did you feel when you heard the city?</span>
            </li>
            <li class="test-line">
              <span>Did you hear it well enough?</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <span class="test-col-title">Testing: Test</span>
      <div class="test-grid parallax-plane-1-prototype-sound">
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          User Task ID
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          User ID
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          What are they saying?
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          Notes
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          Score
        </div>
        <span>1</span>
        <span>1</span>
        <span>“Ah okay so the sound device is inside the tulip itself?”</span>
        <span
          >Slight confusion but also interest. The idea seems to interest her,
          but it's easy to make it too complicated</span
        >
        <span>3/5</span>

        <span>2</span>
        <span>1</span>
        <span>/</span>
        <span
          >The sound is not very understandable. Something failed with the
          prototype. She looks interested and looks like she gets the concept</span
        >
        <span>2/5</span>

        <span>3</span>
        <span>1</span>
        <span>“We support the youth and their new ideas”</span>
        <span
          >The sounds stops because of a failure and she thinks the test is over
          and starts talking to us.</span
        >
        <span>0/5</span>

        <span>1</span>
        <span>2</span>
        <span>/</span>
        <span
          >We need to make sure explanation is clear. He looks at the box but
          seems to want more information</span
        >
        <span>2/5</span>

        <span>2</span>
        <span>2</span>
        <span>/</span>
        <span
          >He is listening to the audio, but he doesn't understand it. He is
          still confused. Make sure the audio is audible and loud enough.</span
        >
        <span>3/5</span>

        <span>3</span>
        <span>2</span>
        <span
          >He talks to us about what he used to do in live and then he enjoys
          what the youth is trying.</span
        >
        <span
          >Mostly confusion. He didn’t understand that there is no phone in the
          end result</span
        >
        <span>1/5</span>

        <span>1</span>
        <span>3</span>
        <span>/</span>
        <span
          >She doesn’t touch the box, because she doesn’t understand so she
          doesn’t know what to do</span
        >
        <span>1/5</span>

        <span>1</span>
        <span>3</span>
        <span>She tells us about her hearing problems</span>
        <span
          >She doesn’t hear the sound coming out of the box. Explaining the
          concept and the test to elderly people is really hard, and requires
          extra attention.</span
        >
        <span>0/5</span>

        <span>1</span>
        <span>3</span>
        <span
          >She tells us she finds it hard to have conversations with people</span
        >
        <span
          >She feels sad because she can’t understand us. The test itself failed
          but it was interesting to get confronted with the limitations of our
          product.</span
        >
        <span>1/5</span>
      </div>
    </div>
    <div class="relative">
      <span class="test-col-title">Testing: Post-Test</span>
      <div class="absolute bottom-[20%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={true}>
          <span
            >The audio connection was not clear enough for the users at home ->
            The connection is quite clear for users in city, but how can we make
            it even clearer?
          </span>
        </ConclusionBox>
      </div>
    </div>
  </div>
</div>
<style>
  #prototype-sound {
    @apply min-w-[5400px];
  }
</style>
