---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="prototype-app-paper"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Phone: Paper." bottom={false} height={20}>
    <span
      >We developed a prototype for the app that would allow family or friends
      to create a connection with a home flower. That way, people could see how
      their family members are doing.</span
    ></ChapterHead
  >
  <img
    class="relative h-[800px] top-1/2 -translate-y-[50%] rounded-lg left-[500px] border-blue border-8 rotate-3"
    src="./phone-paper.JPG"
  />
</div>
<style>
  #prototype-app-paper {
    @apply min-w-[1200px];
  }
</style>
