---
import ChapterHead from "../ChapterHead.astro";
import ConclusionBox from "../ConclusionBox.astro";
import Test from "../Test.astro";
---

<div
  id="prototype-lights"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Prototype: Lights" bottom={true} height={100}
    ><span
      >The next prototype was a lot more advanced. This was important to use
      since our target audience is not always as tech savvy as us. Therefor, it
      is important to test what happens when we add pieces of technology. We
      programmed our Arduino prototype to illustrate the connection between home
      tulip and city tulip</span
    ></ChapterHead
  >
  <img
    class="parallax-plane-1-prototype-lights relative z-20 left-[500px] top-1/2 -translate-y-[50%]"
    src="prototype-lights.png"
  />
  <div class="test absolute left-[1200px] top-0">
    <div>
      <span class="test-col-title">Testing: Pre-Build</span>
      <div class="test-col green">
        <div class="test-s">
          <span class="test-q">Who are our Target User?</span>
          <ul class="test-a">
            <li class="test-line">
              <span
                >Main Target Audience. Elderly people that are not too
                tech-savvy.</span
              >
            </li>
          </ul>
        </div>

        <div class="test-s">
          <span class="test-q">What are we testing?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>TA using the flower.</span>
            </li>
            <li class="test-line">
              <span>TA listening to sounds coming from flower.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What is the user goal?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>To listen to the flower as intended.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What materials do we need?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>Prototype 1.</span>
            </li>
            <li class="test-line">
              <span>Phone for calling.</span>
            </li>
            <li class="test-line">
              <span>Phone for recording.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <span class="test-col-title">Testing: Pre-Test</span>
      <div class="test-col orange parallax-plane-1-prototype-lights">
        <div class="test-s">
          <span class="test-q">What is the scenario?</span>
          <ul class="test-a">
            <li class="test-line">
              <span
                >Person sits at home and feels like having some connection to
                the city centre. Their flower is already set up.</span
              >
            </li>
          </ul>
        </div>

        <div class="test-s">
          <span class="test-q"
            >What do we need to tell the user before testing?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>A short description of the project.</span>
            </li>
            <li class="test-line">
              <span>Permissions to be filmed and recorded.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What CAN'T we tell the user before testing?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>Explain what to do.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What are the user tasks?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>1. Enable the sound.</span>
            </li>
            <li class="test-line">
              <span>2. Listen to the city.</span>
            </li>
            <li class="test-line">
              <span>3. Disable the sound.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q"
            >What questions do we need to ask the user afterwards?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>What did you feel when you heard the city?</span>
            </li>
            <li class="test-line">
              <span>Did you hear it well enough?</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <span class="test-col-title">Testing: Test</span>
      <div class="test-grid">
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          User Task ID
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          User ID
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          What are they saying?
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          What are they feeling?
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          Notes
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          Score
        </div>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>2</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>3</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>2</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>2</span>
        <span>2</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>3</span>
        <span>2</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>3</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>2</span>
        <span>3</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>3</span>
        <span>3</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>4</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>2</span>
        <span>4</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>3</span>
        <span>4</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>

        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>/</span>
        <span>/</span>
        <span>0/5</span>
      </div>
    </div>
    <div class="relative">
      <span class="test-col-title">Testing: Post-Test</span>
      <div class="absolute top-[20%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={false}>
          <span
            >The arduino setup with WebRTC connection really helped us to test
            the feeling of smart device with out Target Audience. Our
            assumptions about TA being not crazy about having smart devices were
            confirmed, how can we make it even friendlier?
          </span>
        </ConclusionBox>
      </div>
      <div class="absolute bottom-[20%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={true}>
          <span
            >The audio connection was not clear enough for the users at home ->
            The connection is quite clear for users in city, but how can we make
            it even clearer?
          </span>
        </ConclusionBox>
      </div>
    </div>
  </div>
</div>

<style is:global>
  #prototype-lights {
    @apply min-w-[5150px];
  }

  .test {
    @apply flex flex-row h-full py-40 gap-80;
  }

  .test-col-title {
    @apply text-white font-io-semibold text-4xl mb-20 block;
  }

  .test-grid {
    @apply grid  border-grey bg-white border-t-[1px] border-l-[1px] w-[1200px] max-h-[700px] overflow-auto;
    grid-template-columns: 60px 60px 1fr 1fr 1fr 60px;

    span {
      @apply flex justify-center items-center border-grey border-b-[1px] border-r-[1px] p-10;
    }
  }

  .test-col {
    @apply h-[720px] flex flex-col justify-center gap-20 flex-wrap;

    &.green {
      .test-q {
        @apply bg-green;
      }

      .test-a {
        @apply bg-green;
      }
    }

    &.orange {
      .test-q {
        @apply bg-orange;
      }

      .test-a {
        @apply bg-orange;
      }
    }

    &.grey {
      @apply text-white;

      .test-q {
        @apply bg-grey;
      }

      .test-a {
        @apply bg-grey;
      }
    }
  }

  .test-s {
    @apply w-[500px];
  }

  .test-q {
    @apply block font-io-semibold text-2xl  w-fit px-20 py-10;
  }

  .test-a {
    @apply list-decimal;
  }
  .test-line {
    @apply w-full h-[60px] px-20 overflow-hidden;
    @apply flex flex-row items-center;
    @apply border-b-[1px] border-solid border-grey;
  }
</style>
