---
import ChapterHead from "../ChapterHead.astro";
import ConclusionBox from "../ConclusionBox.astro";
---

<div
  id="prototype-ipad-figma"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Tablet: Figma." bottom={true} height={120}>
    <p>
      We developed a Figma prototype that we would be able to test with our
      secondary Target Audience, people in the streets, willing to record a
      message.
    </p>
    <span
      >(The figma prototype is available <a
        href="https://www.figma.com/proto/z3IIqtgjieYcYNmWIfcN3a/UX4?page-id=75%3A294&type=design&node-id=182-216&viewport=737%2C-96%2C0.18&t=REkqHWYmSTAR6rsT-1&scaling=min-zoom&starting-point-node-id=182%3A216&show-proto-sidebar=1&mode=design"
        >here</a
      >.)</span
    >
  </ChapterHead>

  <div class="test absolute left-[500px] top-0">
    <div>
      <span class="test-col-title">Testing: Pre-Build</span>
      <div class="test-col green parallax-plane-1-prototype-ipad-figma">
        <div class="test-s">
          <span class="test-q">Who are our Target User?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>Random people walking in the center.</span>
            </li>
          </ul>
        </div>

        <div class="test-s">
          <span class="test-q">What are we testing?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>People saying things in the microphone.</span>
            </li>
            <li class="test-line">
              <span>People navigating the iPad.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What is the user goal?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>To record an improvised message.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What materials do we need?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>Phone for calling.</span>
            </li>
            <li class="test-line">
              <span>Phone for recording.</span>
            </li>

            <li class="test-line">
              <span>Instructions.</span>
            </li>
            <li class="test-line">
              <span>Flowerbed.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <span class="test-col-title">Testing: Pre-Test</span>
      <div class="test-col orange">
        <div class="test-s">
          <span class="test-q">What is the scenario?</span>
          <ul class="test-a">
            <li class="test-line">
              <span
                >Random person walks through the city and feels like making
                someones day.</span
              >
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q">What CAN'T we tell the user before testing?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>Explain what to do.</span>
            </li>
            <li class="test-line">
              <span>Give them inspiration about what to say.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q"
            >What do we need to tell the user before testing?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>A short description of the project.</span>
            </li>
            <li class="test-line">
              <span>Permissions to be filmed and recorded.</span>
            </li>
            <li class="test-line">
              <span>Imagine there is a flowerbed.</span>
            </li>
            <li class="test-line">
              <span>They can read the instructions on the screen.</span>
            </li>
          </ul>
        </div>

        <div class="test-s">
          <span class="test-q">What are the user tasks?</span>
          <ul class="test-a">
            <li class="test-line">
              <span>1. Read the instructions.</span>
            </li>
            <li class="test-line">
              <span>2. Record the message, following the instructions.</span>
            </li>
            <li class="test-line">
              <span>3. Navigate an inspiration.</span>
            </li>

            <li class="test-line">
              <span>4. play/pause the recording.</span>
            </li>
          </ul>
        </div>
        <div class="test-s">
          <span class="test-q"
            >What questions do we need to ask the user afterwards?</span
          >
          <ul class="test-a">
            <li class="test-line">
              <span>Would you do this in a real life scenario?</span>
            </li>
            <li class="test-line">
              <span
                >Would you like this if you would be lonely/stuck at home?</span
              >
            </li>
            <li class="test-line">
              <span
                >Would this setup make you stop and read the instructions?</span
              >
            </li>

            <li class="test-line">
              <span>How do you feel after having send a message?</span>
            </li>
            <li class="test-line">
              <span>Flowerbed.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <span class="test-col-title">Testing: Test</span>
      <div class="test-grid">
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          User Task ID
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          User ID
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          What are they saying?
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          Notes
        </div>
        <div
          class="h-[60px] border-b-[1px] border-grey flex justify-center items-center bg-white sticky top-0"
        >
          Score
        </div>
        <span>1</span>
        <span>1</span>
        <span>/</span>
        <span>Explanation seems to be clear.</span>
        <span>4/5</span>

        <span>2</span>
        <span>1</span>
        <span>“So now, I just record something?”</span>
        <span>They asked us for explanation, so it’s not completely clear.</span
        >
        <span>2/5</span>

        <span>3</span>
        <span>1</span>
        <span>/</span>
        <span>Finding a song/poem/story seems to work fine.</span>
        <span>4/5</span>

        <span>4</span>
        <span>1</span>
        <span>/</span>
        <span
          >We had to tell the test is over, so that part wasn’t exactly clear</span
        >
        <span>3/5</span>

        <span>1</span>
        <span>2</span>
        <span>/</span>
        <span>Instructions clear.</span>
        <span>5/5</span>

        <span>2</span>
        <span>2</span>
        <span>They are talking about the sun and the good weather.</span>
        <span>/</span>
        <span>5/5</span>

        <span>3</span>
        <span>2</span>
        <span>/</span>
        <span>Feature wasn’t used</span>
        <span>/</span>

        <span>4</span>
        <span>2</span>
        <span>/</span>
        <span>Found the button without a problem.</span>
        <span>5/5</span>

        <span>1</span>
        <span>3</span>
        <span>/</span>
        <span
          >Instructions seemed clear. A bit of hesitation before starting.</span
        >
        <span>4/5</span>

        <span>2</span>
        <span>3</span>
        <span>“Euu hey euu i don’t know what to say haha”</span>
        <span>They started the recording before they made up their mind.</span>
        <span>3/5</span>

        <span>3</span>
        <span>3</span>
        <span>/</span>
        <span
          >The didn't realise they had to speak out loud when reading the poem</span
        >
        <span>2/5</span>

        <span>4</span>
        <span>3</span>
        <span>“How do I stop?”</span>
        <span
          >Stopping was hard as well. Buttons weren't clear for this person.</span
        >
        <span>2/5</span>

        <span>1</span>
        <span>4</span>
        <span
          >“Yes ofcourse I would send voice memos, it’s a beautiful and original
          concept”</span
        >
        <span
          >Said that but didn't actually turn to the ipad or interact with it
          much</span
        >
        <span>0/5</span>

        <span>2</span>
        <span>4</span>
        <span>/</span>
        <span
          >They started talking to us about the concept. The idea of the test
          didn't seem clear.</span
        >
        <span>0/5</span>

        <span>3</span>
        <span>4</span>
        <span>/</span>
        <span
          >They started talking to us about the concept. The idea of the test
          didn't seem clear.</span
        >
        <span>0/5</span>

        <span>4</span>
        <span>4</span>
        <span>/</span>
        <span
          >They started talking to us about the concept. The idea of the test
          didn't seem clear.</span
        >
        <span>0/5</span>

        <span>1</span>
        <span>5</span>
        <span>/</span>
        <span>Instructions seemed clear enough.</span>
        <span>3/5</span>

        <span>2</span>
        <span>5</span>
        <span>“Do i press here?”</span>
        <span>Had to look for the right button. Hesistant to use the iPad.</span
        >
        <span>2/5</span>

        <span>3</span>
        <span>5</span>
        <span>"hallo? Hallo??"</span>
        <span>They seemed confused about no one being on the other side.</span>
        <span>3/5</span>

        <span>4</span>
        <span>5</span>
        <span>“So no one is going to answer me?”</span>
        <span>/</span>
        <span>3/5</span>
      </div>
    </div>
    <div class="relative">
      <span class="test-col-title">Testing: Post-Test</span>
      <div class="absolute top-[10%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={false}>
          <span
            >People did show a lot of satisfaction after having said something.
            A lot of people commented on the fact that we need to take care of
            each other.
          </span>
        </ConclusionBox>
      </div>
      <div class="absolute bottom-[40%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={true}>
          <span
            >We realised that a lot of young people were actually interested in
            having a flower at home. They seem to like the social aspect more
            and some said that they could use the contact with the city.
          </span>
        </ConclusionBox>
      </div>
      <div class="absolute bottom-[10%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={true}>
          <span
            >There was still a lot of confusing when using the iPad. Sometimes
            the confusion was about the testing part of it, where it might be
            more clear what they're supposed to do if the project was actually
            realised. Other people were confused after reading the explanation.
          </span>
        </ConclusionBox>
      </div>
    </div>
  </div>

  <style>
    #prototype-ipad-figma {
      @apply min-w-[5500px];
    }
  </style>
</div>
