---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="prototype-ipad-paper"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Tablet: Paper." bottom={false} height={120} />
</div>
