---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="prototype-app-paper"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Phone: Paper." bottom={false} height={20} />
  <img
    class="relative h-[800px] top-1/2 -translate-y-[50%] rounded-lg left-[300px] border-blue border-8"
    src="./phone-paper.JPG"
  />
</div>
<style>
  #prototype-app-paper {
    @apply min-w-[1200px];
  }
</style>
