---
import ChapterHead from "../ChapterHead.astro";
import ConclusionBox from "../ConclusionBox.astro";
---

<div
  id="prototype-app-figma"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Phone: Figma." bottom={true} height={90}>
    <p>
      Although the prototype for this application was created, due to time
      constrainst and this prototype being further from our initial goal, no
      tests were done with it.
    </p>
    <span
      >(The figma prototype is available <a
        href="https://www.figma.com/proto/z3IIqtgjieYcYNmWIfcN3a/UX4?page-id=75%3A294&type=design&node-id=75-296&viewport=737%2C-96%2C0.18&t=REkqHWYmSTAR6rsT-1&scaling=min-zoom&starting-point-node-id=75%3A296&show-proto-sidebar=1&mode=design"
        >here</a
      >.)</span
    >
  </ChapterHead>
  <div class="test absolute left-[500px] top-0">
    <div class="relative">
      <div class="absolute top-[20%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={false}>
          <span
            >The arduino setup with WebRTC connection really helped us to test
            the feeling of smart device with out Target Audience. Our
            assumptions about TA being not crazy about having smart devices were
            confirmed, how can we make it even friendlier?
          </span>
        </ConclusionBox>
      </div>
      <div class="absolute bottom-[20%]">
        <ConclusionBox chapter="prototype-lights" id={0} black={true}>
          <span
            >The audio connection was not clear enough for the users at home ->
            The connection is quite clear for users in city, but how can we make
            it even clearer?
          </span>
        </ConclusionBox>
      </div>
    </div>
  </div>
</div>
<style>
  #prototype-app-figma {
    @apply min-w-[5500px];
  }
</style>
