---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="prototype-app-figma"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Phone: Figma." bottom={true} height={90} />
</div>
