---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="prototype-ipad-figma"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Tablet: Figma." bottom={true} height={120} />
</div>
