---
import ChapterHead from "../ChapterHead.astro";
import ConclusionBox from "../ConclusionBox.astro";
---

<div
  id="prototype-lights"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Prototype: Lights" bottom={true} height={100}
    ><span
      >The next prototype was a lot more advanced. We wanted to test the feeling
      of a smart device. This was important to use since our target audience is
      not always as tech savvy as us. Therefor, it is important to test what
      happens when we add pieces of technology.</span
    ></ChapterHead
  >
  <img
    class="parallax-plane-1-prototype-lights relative z-20 left-[700px] top-1/2 -translate-y-[50%]"
    src="prototype-lights.png"
  />
  <div class="absolute top-[20%] left-[1200px]">
    <ConclusionBox chapter="prototype-lights" id={0} black={false}>
      <span
        >The arduino setup with WebRTC connection really helped us to test the
        feeling of smart device with out Target Audience. Our assumptions about
        TA being not crazy about having smart devices were confirmed, how can we
        make it even friendlier?
      </span>
    </ConclusionBox>
  </div>
  <div class="absolute bottom-[20%] left-[1200px]">
    <ConclusionBox chapter="prototype-lights" id={0} black={true}>
      <span
        >The audio connection was not clear enough for the users at home -> The
        connection is quite clear for users in city, but how can we make it even
        clearer?
      </span>
    </ConclusionBox>
  </div>
</div>

<style>
  #prototype-lights {
    @apply min-w-[2300px];
  }
</style>
