---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="storyboards"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Storyboards." bottom={false} height={20} />
  <div class="flex flex-row h-full items-center relative left-[300px]">
    <img class="h-3/5" src="./story-board-2.png" />
    <img class="h-3/5" src="./story-board-1.png" />
  </div>
</div>
