---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="target-audience"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Target Audience." bottom={false} height={150}
    ><span>
      A Smart City Solution needs an audience. That target audience is the very
      basis upon which we build our project, so it was important to describe it
      well and early.
    </span></ChapterHead
  >
  <div class="absolute top-[55%] left-80">
    <p>
      Since we had an idea in our mind that revolved around connecting a
      neighbourhood, we naturally started thinking about people that have a hard
      time connecting to their neighbourhood.
    </p>
    <p>
      During emergencies like the Covid pandemic, droughts or floods, people are
      often forced to stay inside more than usual. Visiting friends and family
      is usually not possible and the risk of loneliness for people living
      alone, increases.
    </p>
  </div>
  <div class="absolute text-white left-[800px] top-[30%]">
    <p>
      Although we let go of the idea of emergencies early on, this group of
      people stuck with us. We started thinking of how to connect the city
      itself with the people that don't have the ability to visit the most
      vibrant parts of the city.
    </p>
    <p>This is what we came up with:</p>
  </div>
  <div
    class="p-40 rounded-[50px] absolute flex flex-col gap-20 bg-orange text-grey right-0 top-1/2 -translate-y-[50%] w-[500px]"
  >
    <p>
      At first we were thinking about every person that for whatever reason
      could not easily leave the house. We were thinking about people with
      disabilities, elderly people, people with people to take care of,
      marginalised people, etc.
    </p>
    <p>
      We started realising that the scope of our project was becoming
      unmanagable. So we made the tough decision of focusing on one particular
      group in one particular city.
    </p>
    <p>
      The very nature of our subject was going to make it hard to come in
      contact with our chosen target audience. How do you reach people that are
      socially disconnected? Therefor, we decided to go with the —relatively, of
      course— easiest one.
    </p>
    <p>
      And so we described our target audience: Elderly people living in the city
      of Kortrijk that did not possess the mobility to visit the centre and
      connect with the city.
    </p>
    <p>
      People who might live in a home, whose family might sometimes be their
      whole life but who couln't walk trought its streets and squares anymore.
    </p>
    <p>And so our target audience was defined.</p>
  </div>
</div>
<style>
  #target-audience {
    @apply min-w-[2000px];
  }
</style>
