---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="user-scenarios"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="User Scenarios." bottom={true} height={150} />
</div>
