---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="user-stories"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="User Stories" bottom={true} height={20} />
</div>
