---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="wireflows-app"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Phone: Flowchart." bottom={false} height={220} />
</div>
