---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="wireflows-ipad"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Tablet: Flowchart" bottom={true} height={80} />
</div>
