---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="wireflows-app"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Phone: Flowchart." bottom={false} height={220} />
  <img
    class="relative h-[600px] top-1/2 -translate-y-[50%] rounded-lg left-[500px] border-blue border-8"
    src="./wireflow-phone.png"
  />
</div>
<style>
  #wireflows-app {
    @apply min-w-[1950px];
  }
</style>
