---
import ChapterHead from "../ChapterHead.astro";
---

<div
  id="wireflows-ipad"
  class="chapter h-full visible-page-width-disabled relative"
>
  <ChapterHead title="Tablet: Flowchart" bottom={true} height={80} />
  <img
    class="relative h-[700px] top-1/2 -translate-y-[50%] rounded-lg left-[500px] border-blue border-8"
    src="./wireflows-ipad.png"
  />
</div>
<style>
  #wireflows-ipad {
    @apply min-w-[2000px];
  }
</style>
